body {
  margin: 0;
  overflow-x: hidden;
}

div, span {
  font-family: "PT Sans";
}

a {
  font-family: "PT Sans";
}

input, textarea, label, button {
  font-family: "PT Sans";
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  margin: 0;
  paddding: 0;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  background: none;
  border: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  height: 95px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  margin-left: 74px;
}

.header__foto {
  margin-right: 41px;
}

.header__link {
  font-weight: 700;
  font-size: 16px;
  color: #124B8D;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 21px;
  margin-right: 41px;
}

.header__link:last-child {
  margin-right: 0;
}

.header__link:hover {
  color: #4A7FBC;
  -webkit-transition: .2s;
  transition: .2s;
}

.header__burger {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
  margin-right: 15px;
}

.header__burger-top {
  width: 41px;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  border-radius: 55px;
  background-color: #124B8D;
  margin-bottom: 7px;
}

.header__burger-middle {
  width: 41px;
  height: 4px;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 5;
  border-radius: 55px;
  background-color: #124B8D;
  margin-bottom: 7px;
}

.header__burger-bottom {
  width: 41px;
  height: 4px;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 5;
  border-radius: 55px;
  background-color: #124B8D;
}

.header__burger-top-active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 10px;
  -webkit-transition: .35s;
  transition: .35s;
}

.header__burger-middle-active {
  display: none;
}

.header__burger-bottom-active {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 1px;
  margin-top: 10px;
  -webkit-transition: .35s;
  transition: .35s;
}

.intro {
  background: url(../img/intro/background.png);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 99px;
  padding-bottom: 106px;
}

.intro__title {
  font-weight: 700;
  font-size: 52px;
  line-height: 72px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 14px;
}

.intro__btn {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  color: #124B8D;
  background: #ffffff;
  -webkit-box-shadow: 5px 6px 12px #194570;
          box-shadow: 5px 6px 12px #194570;
  border-radius: 7px;
  padding: 22px 44px;
}

.intro__btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 15px #07233E;
          box-shadow: 0px 6px 15px #07233E;
  -webkit-transition: .2s;
  transition: .2s;
}

.intro span {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 35px;
}

.intro__subtitle {
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 55px;
}

.intro__subtitle span {
  font-size: 22px;
  font-weight: 700;
}

.promo {
  padding-top: 45px;
  padding-bottom: 70px;
}

.promo__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.promo__title {
  font-weight: 700;
  font-size: 36px;
  color: #124B8D;
  margin-bottom: 10px;
}

.promo__subtitle {
  font-weight: 400;
  font-size: 22px;
  color: #000000;
  margin-bottom: 50px;
}

.promo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.promo__wrap {
  position: relative;
  width: 100%;
}

.promo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__number {
  font-weight: 700;
  font-size: 96px;
  color: #000000;
  line-height: 96px;
  margin-right: 4px;
}

.promo__text {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: 22px;
  padding-top: 10px;
}

.promo__text a {
  color: #124B8D;
}

.promo__line {
  width: 207px;
  height: 24px;
  position: absolute;
  right: -50px;
  top: 110px;
}

.test {
  margin-bottom: 100px;
}

.test__slider {
  -webkit-box-shadow: 0px 0px 18px rgba(215, 215, 215, 0.52);
          box-shadow: 0px 0px 18px rgba(215, 215, 215, 0.52);
  border-radius: 7px;
}

.test__inner {
  height: auto;
  padding-top: 50px;
  padding-bottom: 41px;
  padding-left: 32px;
  background-color: #ffffff;
}

.test__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #124B8D;
}

.test__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
}

.test__subtitle span {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.test__subtitle span:first-child {
  margin-bottom: 18px;
}

.test__btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background: linear-gradient(142.27deg, #0076FF -55.33%, rgba(0, 118, 255, 0) 109.35%), #124B8D;
  -webkit-box-shadow: 1px 5px 11px #9FC1E8;
          box-shadow: 1px 5px 11px #9FC1E8;
  border-radius: 7px;
  width: 100%;
  max-width: 182px;
  height: 51px;
  margin-top: 40px;
}

.test__btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 5px 11px #2B74C8;
          box-shadow: 1px 5px 11px #2B74C8;
  -webkit-transition: .2s;
  transition: .2s;
}

.test__wrap {
  -webkit-box-shadow: 0px 0px 18px rgba(215, 215, 215, 0.52);
          box-shadow: 0px 0px 18px rgba(215, 215, 215, 0.52);
  border-radius: 7px;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 32px;
}

.test__wrap img {
  margin-top: 36px;
  margin-bottom: 44px;
}

.test__slider-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.test__slider-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  margin-bottom: 33px;
}

.test__slider-input {
  position: absolute;
  opacity: 0;
  z-index: -1234;
}

.test__slider-label {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  position: relative;
  margin-left: 34px;
  margin-bottom: 18px;
}

.test__slider-label::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url(../img/test/radio.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -40px;
  top: -5px;
  z-index: 1;
}

.test__slider-input:checked + .test__slider-label::before {
  background: url(../img/test/radio-active.png);
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.slick-list {
  width: 100%;
  overflow: hidden;
}

.slick-slide {
  height: 100%;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
}

.slick-dots li {
  list-style: none;
  margin-right: 8px;
}

.slick-dots li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0;
  width: 15px;
  height: 15px;
  outline: none;
  background: url(../img/test/dots.svg);
  background-position: center;
  cursor: pointer;
}

.slick-dots .slick-active button {
  border: 1px solid #656565;
  border-radius: 50%;
}

.gift {
  margin-bottom: 66px;
}

.gift__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/gift/background.png);
  padding-top: 55px;
  padding-bottom: 59px;
}

.gift__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 37px;
}

.gift__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  color: #ffffff;
  margin-right: 160px;
}

.gift__number {
  font-family: "PT Sans Caption";
  font-weight: 700;
  font-size: 96px;
  line-height: 72px;
  color: #ffffff;
  text-shadow: 0px 5.85567px 5.85567px #101F31;
}

.gift__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.gift__input {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #124B8D;
  width: 100%;
  max-width: 546px;
  height: 56px;
  padding-left: 25px;
  background: #ffffff;
  -webkit-box-shadow: 6px 5px 11px #07203F;
          box-shadow: 6px 5px 11px #07203F;
  border-radius: 7px;
  margin-right: 12px;
}

.gift__input::-webkit-input-placeholder {
  opacity: 0.5;
  font-weight: 400;
  color: #ADC5E1;
}

.gift__btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background: linear-gradient(153.28deg, #0076FF -53.69%, rgba(0, 118, 255, 0) 115.33%), #124B8D;
  -webkit-box-shadow: 1px 5px 11px #07203F;
          box-shadow: 1px 5px 11px #07203F;
  border-radius: 7px;
  width: 100%;
  max-width: 312px;
  height: 56px;
}

.gift__btn:hover {
  -webkit-box-shadow: 1px 6px 16px #031020;
          box-shadow: 1px 6px 16px #031020;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.product {
  padding-bottom: 206px;
  padding-top: 126px;
}

.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 77px;
  margin-bottom: 76px;
  width: 100%;
}

.product__btn {
  font-weight: 700;
  font-size: 22px;
  color: #ABABAB;
  background: #FFFFFF;
  border-radius: 0 7px 7px 0;
  border: 1px solid #8A8D8F;
  border-left: none;
  width: 100px;
  height: 47px;
  padding-left: 0;
  margin: 0;
  padding-right: 0;
}

.product__btn:hover {
  cursor: pointer;
  color: #727272;
  -webkit-transition: .2s;
  transition: .2s;
}

.product__btn-left {
  border: 1px solid #8A8D8F;
  border-right: none;
  border-radius: 7px 0 0 7px;
}

.product__item {
  height: 100%;
}

.product__btn-right {
  border: 1px solid #8A8D8F;
  border-left: none;
  color: #ffffff;
  background: none;
  color: #ABABAB;
}

.product__btn-active-left {
  color: #ffffff;
  background: linear-gradient(157.81deg, #00A3FF -25.06%, rgba(0, 97, 217, 0) 89.53%), #124B8D;
  border-radius: none;
  border-radius: 7px 0 0 7px;
}

.product__btn-active-left:hover {
  color: #ffffff;
  -webkit-transition: .2s;
  transition: .2s;
}

.product__btn-active-right {
  color: #ffffff;
  background: linear-gradient(157.81deg, #00A3FF -25.06%, rgba(0, 97, 217, 0) 89.53%), #124B8D;
  border-radius: none;
  border: 0 7px 7px 0;
}

.product__btn-active-right:hover {
  color: #ffffff;
  -webkit-transition: .2s;
  transition: .2s;
}

.product__wrap {
  width: 100%;
}

.product__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 60px;
}

.product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__item-hidden {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.product__wrap-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 36px;
  padding-top: 12px;
}

.product__item-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 17px;
  margin-bottom: 15px;
}

.product__item-load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
}

.product__item-load div {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #000000;
  margin-right: 13px;
}

.product__item-load span {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #124B8D;
}

.product__item-speed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 19px;
}

.product__item-speed div {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #000000;
  margin-right: 13px;
}

.product__item-speed span {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #124B8D;
}

.product__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.product__item-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #ffffff;
  background: #8A8D8F;
  width: 100%;
  max-width: 114px;
  height: 44px;
}

.product__item-link a:hover {
  background: #124B8D;
  -webkit-transition: .2s;
  transition: .2s;
}

.product__item-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #3E3E3E;
  width: 40px;
  height: 36px;
  background: #EAEAEA;
  border-radius: 7px;
  padding: 0;
  margin-right: 4px;
  cursor: pointer;
}

.product__item-btn:hover {
  background: linear-gradient(110.87deg, #0076FF -55.52%, rgba(0, 118, 255, 0) 122.55%), #124B8D;
  color: #ffffff;
  -webkit-transition: .2s;
  transition: .2s;
}

.product__item-btn-active {
  color: #ffffff;
  background: linear-gradient(110.87deg, #0076FF -55.52%, rgba(0, 118, 255, 0) 122.55%), #124B8D;
  -webkit-box-shadow: 1px 5px 11px #9FC1E8;
          box-shadow: 1px 5px 11px #9FC1E8;
}

.product__item-title {
  font-weight: 700;
  font-size: 22px;
  color: #124B8D;
  line-height: 28px;
  white-space: nowrap;
  margin-bottom: 10px;
  margin-top: 24px;
}

.product__item-subtitle {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  text-align: center;
}

.product__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.product__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  background: #124B8D;
  -webkit-box-shadow: 1px 5px 6px #6B829F;
          box-shadow: 1px 5px 6px #6B829F;
  border-radius: 7px;
  width: 100%;
  max-width: 312px;
  height: 56px;
}

.product__link a:hover {
  background: #002A5B;
  -webkit-transition: .2s;
  transition: .2s;
}

.product__foto {
  position: relative;
}

.product__nav-icon {
  display: none;
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: 0;
  z-index: 10;
  margin-bottom: 7px;
}

.product__close {
  display: none;
  position: absolute;
  right: 18%;
  top: 1%;
}

.product__close img {
  width: 17px;
  height: 20px;
}

.product__close-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 25px;
  padding-top: 35px;
}

#summer {
  display: none;
}

.info {
  padding-top: 66px;
  padding-bottom: 84px;
  background: url(../img/info/background.png);
  background-repeat: no-repeat;
  background-position: center;
}

.info__title {
  font-family: "PT Sans Caption";
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #ffffff;
  margin-bottom: 26px;
}

.info__subtitle {
  font-family: "PT Sans Caption";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 24px;
}

.info__subtitle a {
  font-family: "PT Sans Caption";
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.info__nav-icon {
  margin-right: 12px;
}

.info__nav-title {
  font-family: "PT Sans Caption";
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

.info__text-hidden {
  display: none;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 6px rgba(102, 102, 102, 0.25);
          box-shadow: 0px 4px 6px rgba(102, 102, 102, 0.25);
  border-radius: 7px;
  width: 100%;
  max-width: 800px;
  padding-left: 30px;
  padding-right: 54px;
  padding-top: 24px;
  padding-bottom: 41px;
}

.info__text-hidden span {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
}

.info__text-hidden span:first-child {
  margin-bottom: 30px;
}

.info__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 54px;
}

.info__input {
  font-family: "PT Sans Caption";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  padding-left: 18px;
  margin-bottom: 14px;
  width: 100%;
  max-width: 366px;
  height: 52px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #FFFFFF;
  border-radius: 7px;
}

.info__input::-webkit-input-placeholder {
  color: #ffffff;
}

.info__input::-moz-placeholder {
  color: #ffffff;
}

.info__input:first-child {
  margin-right: 14px;
}

.info__input-email {
  max-width: 750px;
}

.info__input-file {
  width: .1px;
  height: .1px;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
}

.info__form-group-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__input-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 14px;
  background: #FFFFFF;
  -webkit-box-shadow: 1px 5px 10px rgba(151, 37, 37, 0.6);
          box-shadow: 1px 5px 10px rgba(151, 37, 37, 0.6);
  border-radius: 7px;
  width: 100%;
  max-width: 260px;
  height: 52px;
}

.info__input-label:hover {
  cursor: pointer;
  color: #313131;
  -webkit-transition: .2s;
  transition: .2s;
}

.info__input-label img {
  margin-right: 8px;
}

.info__input-label span {
  font-family: "PT Sans Caption";
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #454545;
}

.info__input-btn {
  font-family: "PT Sans Caption";
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #E32C22;
  background: #FFFFFF;
  -webkit-box-shadow: 1px 5px 10px rgba(151, 37, 37, 0.6);
          box-shadow: 1px 5px 10px rgba(151, 37, 37, 0.6);
  border-radius: 7px;
  width: 100%;
  max-width: 269px;
  height: 52px;
}

.info__input-btn:hover {
  cursor: pointer;
  color: #BA0A00;
}

.info__text-btn {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 24px;
  top: 60px;
  z-index: 15000;
}

.info__text-btn img {
  width: 24px;
  height: 24px;
}

.question {
  margin-bottom: 226px;
  height: auto;
}

.question__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.question__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 48px;
  color: #124B8D;
  margin-bottom: 34px;
}

.question__wrap {
  width: 100%;
  max-width: 784px;
}

.question__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #124B8D;
  -webkit-box-shadow: 0px 0px 6px #74A2D7;
          box-shadow: 0px 0px 6px #74A2D7;
  border-radius: 18px;
  margin-bottom: .3;
}

.question__subtitle {
  font-weight: 700;
  font-size: 22px;
  color: #000000;
  padding-left: 31px;
  padding-top: 21px;
  padding-bottom: 23px;
}

.question__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 49px;
  height: 49px;
  margin-right: 21px;
}

.question__btn:hover {
  cursor: pointer;
}

.question__content {
  display: none;
  margin: 0 24px;
  padding-top: 28px;
  padding-bottom: 53px;
  padding-left: 32px;
  border-left: 1px solid #124B8D;
  border-right: 1px solid #124B8D;
}

.question__content-active-last {
  border-bottom: 1px solid #124B8D;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.question__content-active {
  display: block;
}

.question__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  width: 100%;
  max-width: 561px;
}

.contact {
  padding-bottom: 192px;
}

.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.contact__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 48px;
  color: #124B8D;
  margin-bottom: 34px;
}

.contact__form {
  width: 100%;
}

.contact__form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__form-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #1A1818;
  background: #ffffff;
  border: 1px solid #B7B7B7;
  border-radius: 7px;
  padding-left: 22px;
  width: 100%;
  max-width: 546px;
  height: 52px;
}

.contact__form-input:first-child {
  margin-right: 8px;
}

.contact__form-input::-webkit-input-placeholder {
  color: #ABABAB;
  opacity: 0.5;
}

.contact__form-area {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #1A1818;
  width: 100%;
  max-width: 1100px;
  height: 243px;
  resize: none;
  outline: none;
  -moz-appearance: none;
  background: #ffffff;
  border: 1px solid #B7B7B7;
  border-radius: 7px;
  padding-left: 22px;
  padding-top: 13px;
  margin: 13px 0;
}

.contact__form-area::-webkit-input-placeholder {
  color: #ABABAB;
  opacity: 0.5;
}

.contact__btn {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  background: linear-gradient(147.06deg, #0076FF -55.33%, rgba(0, 118, 255, 0) 109.35%), #124B8D;
  -webkit-box-shadow: 1px 5px 11px #9FC1E8;
          box-shadow: 1px 5px 11px #9FC1E8;
  border-radius: 7px;
  width: 100%;
  max-width: 277px;
  height: 65px;
}

.contact__btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 5px 11px #2B74C8;
          box-shadow: 1px 5px 11px #2B74C8;
  -webkit-transition: .2s;
  transition: .2s;
}

.contact__form-group-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1100px;
}

.contact__form-group-btn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.contact__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #072038;
  margin-left: 55px;
}

.contact__label:hover {
  cursor: pointer;
}

.contact__checkbox {
  position: absolute;
  width: 36px;
  height: 35px;
  opacity: 0;
  margin-right: 15px;
}

.contact__checkbox:hover {
  cursor: pointer;
}

.contact__checkbox + .contact__label::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 36px;
  height: 35px;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 15px;
  left: 1px;
  z-index: 2;
  cursor: pointer;
}

.contact__checkbox + .contact__label::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 36px;
  height: 35px;
  content: "";
  position: absolute;
  top: 15px;
  left: 1px;
  z-index: 1;
  background: #FFFFFF;
  border: 1px solid #8A8D8F;
  border-radius: 4px;
  cursor: pointer;
}

.contact__checkbox:checked + .contact__label::after {
  border: none;
}

.contact__checkbox:checked + .contact__label::before {
  background-image: url(../img/contact/checkbox.svg);
}

.contact__checkbox-error::after {
  border: 2px solid rgba(19, 17, 17, 0.6);
}

.contact__foto {
  position: absolute;
  top: 240px;
  left: 15%;
  z-index: -1;
  height: 550px;
}

.footer {
  background: #656565;
  padding-top: 41px;
  padding-bottom: 52px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.footer__copy {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  line-height: 26px;
  padding-top: 29px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 21px;
}

.footer__nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 21px;
}

.footer__wrap div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__link {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 18px;
}

.footer__link:hover {
  color: #A9A9A9;
  -webkit-transform: .2s;
          transform: .2s;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 21px;
}

.footer__social a {
  height: 41px;
  margin-right: 10px;
}

.footer__social svg {
  fill: #ffffff;
  width: 42px;
  height: 41px;
}

.footer__social svg:hover {
  fill: #124B8D;
  -webkit-transition: .2s;
  transition: .2s;
}

/** popup-test **/
.popup-test {
  display: none;
  -webkit-box-shadow: 0px 0px 18px rgba(215, 215, 215, 0.52);
          box-shadow: 0px 0px 18px rgba(215, 215, 215, 0.52);
  border-radius: 7px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 12500;
  width: 100%;
  background-color: #ffffff;
  width: 100%;
  max-width: 980px;
  padding-top: 67px;
  padding-bottom: 62px;
}

.popup-test__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-test__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  color: #124B8D;
  margin-bottom: 42px;
}

.popup-test__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-test__item-subtitle {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  max-width: 233px;
}

.popup-test__subtitle {
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  max-width: 622px;
  margin-top: 106px;
  margin-bottom: 39px;
}

.popup-test__subtitle span {
  font-weight: 700;
  font-size: 22px;
}

.popup-test__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-test__btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  background: linear-gradient(151.1deg, #0076FF -55.33%, rgba(0, 118, 255, 0) 109.35%), #124B8D;
  -webkit-box-shadow: 0px 0px 11px #9FC1E8;
          box-shadow: 0px 0px 11px #9FC1E8;
  border-radius: 7px;
  width: 100%;
  max-width: 350px;
  height: 70px;
  color: #ffffff;
  white-space: nowrap;
  margin-right: 13.5px;
  cursor: pointer;
}

.popup-test__link {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 11px #D3D3D3;
          box-shadow: 0px 0px 11px #D3D3D3;
  border-radius: 7px;
  width: 100%;
  max-width: 350px;
  height: 70px;
  color: #124B8D;
  white-space: nowrap;
  margin-left: 13.5px;
  cursor: pointer;
}

/** popup-promo **/
.popup-promo {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 15000;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 18px rgba(215, 215, 215, 0.52);
          box-shadow: 0px 0px 18px rgba(215, 215, 215, 0.52);
  border-radius: 7px;
  width: 100%;
  max-width: 902px;
  padding-left: 53px;
  padding-top: 52px;
  padding-right: 60px;
  padding-bottom: 56px;
}

.popup-promo__inner {
  position: relative;
}

.popup-promo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 68px;
}

.popup-promo__wrap span {
  font-size: 34px;
  font-weight: 700;
  line-height: 48px;
  color: #124B8D;
  padding-bottom: 5px;
}

.popup-promo__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  margin-right: 13px;
}

.popup-promo__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  margin-bottom: 27px;
}

.popup-promo__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 41px;
}

.popup-promo__input {
  font-size: 18px;
  font-weight: 26px;
  color: #7195BF;
  width: 100%;
  max-width: 546px;
  height: 52px;
  background: #FFFFFF;
  border: 1px solid #0B5CBA;
  border-radius: 7px;
  margin-right: 11px;
  padding-left: 22px;
}

.popup-promo__input::-webkit-input-placeholder {
  color: #7195BF;
}

.popup-promo__btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  background: linear-gradient(148.25deg, #0076FF -55.33%, rgba(0, 118, 255, 0) 109.35%), #124B8D;
  -webkit-box-shadow: 0px 0px 11px #9FC1E8;
          box-shadow: 0px 0px 11px #9FC1E8;
  border-radius: 7px;
  width: 100%;
  max-width: 232px;
  height: 52px;
  cursor: pointer;
}

.popup-promo__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #124B8D;
}

.popup-promo__close {
  position: absolute;
  right: -60px;
  top: -46px;
  z-index: 1234;
  cursor: pointer;
}

/** popup-error **/
.popup-error {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 15000;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 18px rgba(215, 215, 215, 0.52);
          box-shadow: 0px 0px 18px rgba(215, 215, 215, 0.52);
  border-radius: 7px;
  width: 100%;
  max-width: 720px;
  padding: 36px 42px;
}

.popup-error__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.popup-error__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #000000;
  text-align: center;
  margin-bottom: 7px;
}

.popup-error__subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-align: center;
}

.popup-error__close {
  position: absolute;
  right: -40px;
  top: -25px;
  z-index: 1234;
  cursor: pointer;
}

.popup-error__close img {
  width: 18px;
  height: 18px;
}

.popup-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  .header {
    padding: 0 15px;
  }
  .header__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .header__logo {
    padding-left: 15px;
  }
  .header__nav {
    display: none;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .intro span {
    max-width: 600px;
  }
  .promo__line {
    right: -80px;
  }
  .contact__foto {
    left: 6%;
  }
}

@media (max-width: 992px) {
  .intro span {
    max-width: 400px;
  }
  .promo {
    padding-top: 51px;
  }
  .promo__title {
    text-align: center;
    margin-bottom: 18px;
  }
  .promo__subtitle {
    margin-bottom: 73px;
  }
  .promo__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo__line {
    display: none;
  }
  .test__inner {
    margin-bottom: 33px;
  }
  .gift__inner {
    padding-left: 15px;
    padding-right: 15px;
  }
  .gift br {
    display: none;
  }
  .gift__title {
    font-size: 22px;
    margin-right: 0;
  }
  .gift__number {
    font-size: 82px;
  }
  .info {
    background-size: cover;
  }
  .info__input {
    max-width: 100%;
  }
  .info__text-hidden br {
    display: none;
  }
  .contact__foto {
    width: 100%;
    top: 225px;
  }
}

@media (max-width: 768px) {
  .intro {
    padding-top: 82px;
    padding-bottom: 82px;
  }
  .product__wrap-hover {
    padding: 0 15px;
    padding-top: 12px;
  }
  .gift__inner {
    padding-left: 19px;
    padding-top: 27px;
  }
  .gift__block {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 20px;
  }
  .gift__title {
    font-size: 20px;
  }
  .contact__foto {
    display: none;
  }
  .footer__nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 576px) {
  .product__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 482px;
  }
  .product__item:hover .product__item-subtitle {
    display: none;
  }
  .product__item:hover .product__item-hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product__item:hover .product__wrap-hover {
    position: absolute;
    top: 0;
    z-index: 5;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 20px rgba(179, 179, 179, 0.52);
            box-shadow: 0px 0px 20px rgba(179, 179, 179, 0.52);
    border-radius: 7px;
  }
  .info__nav:hover {
    cursor: pointer;
  }
  .info__nav:hover .info__text-hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 50px;
    z-index: 12;
  }
}

@media (max-width: 576px) {
  .header__logo {
    padding-left: 19px;
  }
  .header__logo div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__logo div img:last-child {
    width: 128px;
    height: 31px;
    margin-top: 17px;
  }
  .header__link {
    font-size: 24px;
    line-height: 31px;
    margin-right: 0;
    margin-bottom: 37px;
  }
  .header__foto {
    width: 140px;
    height: 16px;
  }
  .header__nav-active {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 4;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    width: 100%;
    min-width: 576px;
    height: 102vh;
  }
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url(../img/intro/background-mobile.png);
    background-repeat: no-repeat;
    background-position: right 24% bottom 45%;
    padding-top: 0;
    padding-bottom: 0;
    height: 740px;
  }
  .intro .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .intro__title {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 29px;
    padding-top: 32px;
  }
  .intro span {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    padding: 0 15px;
    margin-top: 13px;
  }
  .intro__subtitle {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    max-width: 284px;
    margin-bottom: 22px;
  }
  .intro__subtitle span {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  .intro__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    line-height: 23px;
    -webkit-box-shadow: 5px 6px 12px #194570;
            box-shadow: 5px 6px 12px #194570;
    white-space: nowrap;
    max-width: 224px;
    height: 62px;
  }
  .promo__title {
    font-size: 24px;
    line-height: 30px;
    max-width: 270px;
  }
  .promo__subtitle {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    max-width: 202px;
    margin-bottom: 41px;
  }
  .promo__item {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .promo__wrap {
    margin-bottom: 41px;
  }
  .promo__wrap:last-child {
    margin-bottom: 0;
  }
  .promo__text {
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 10px;
  }
  .promo__text br {
    display: none;
  }
  .test {
    margin-bottom: 36px;
  }
  .test .col-12 {
    padding: 0;
  }
  .test .col-12:first-child {
    margin-bottom: 33px;
  }
  .test__inner {
    padding-top: 24px;
    padding-left: 26px;
  }
  .test__title {
    font-size: 20px;
    line-height: 26px;
  }
  .test__subtitle {
    margin-bottom: 46px;
  }
  .test__subtitle span {
    font-size: 18px;
    line-height: 24px;
  }
  .test__slider-title {
    font-size: 24px;
    line-height: 36px;
  }
  .test__slider-label {
    font-size: 18px;
    line-height: 26px;
  }
  .gift .container {
    padding: 0;
  }
  .gift__inner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .gift__title {
    font-size: 18px;
    line-height: 24px;
    max-width: 235px;
    margin-right: 7px;
  }
  .gift__number {
    font-size: 48px;
    line-height: 52px;
    text-shadow: 0px 5.85567px 5.85567px #101F31;
  }
  .gift__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 340px;
  }
  .gift__input {
    margin-bottom: 12px;
  }
  .gift__input:last-child {
    margin-bottom: 0;
  }
  .gift__btn {
    max-width: 340px;
  }
  .product {
    padding-top: 0;
    padding-bottom: 79px;
  }
  .product__nav {
    margin-top: 36px;
    margin-bottom: 64px;
  }
  .product__item-title {
    font-size: 18px;
    line-height: 20px;
    white-space: normal;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 8px;
  }
  .product__item-subtitle {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 50px;
  }
  .product__link a {
    max-width: 216px;
    height: 56px;
  }
  .product__item:hover .product__wrap-hover {
    position: relative;
    background-color: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: none;
  }
  .product__item img {
    width: 100%;
  }
  .product__nav-icon {
    display: block;
  }
  .product__item-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-y: scroll;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1444;
    width: 100%;
    min-width: 576px;
    height: 100%;
    min-height: 101vh;
    background: #ffffff;
    padding-top: 90px;
  }
  .product__item-active .product__item-subtitle {
    display: none;
  }
  .product__item-active .product__wrap-hover {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 20px rgba(179, 179, 179, 0.52);
            box-shadow: 0px 0px 20px rgba(179, 179, 179, 0.52);
    border-radius: 7px;
  }
  .product__item-active .product__nav-icon {
    display: none;
  }
  .product__wrap-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product__wrap-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product__item-title {
    font-size: 18px;
    line-height: 28px;
    margin-top: 24px;
    margin-bottom: 27px;
  }
  .product__item-nav {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .product__foto-height img:first-child {
    height: 100%;
    max-height: 280px;
  }
  .info {
    padding: 0;
    background: url(../img/info/background-mobile.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 63px;
    padding-bottom: 25px;
  }
  .info__title {
    font-size: 24px;
    line-height: 30px;
    max-width: 217px;
    padding-top: 306px;
    padding-bottom: 36px;
    margin: 0;
  }
  .info__subtitle {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 28px;
  }
  .info__subtitle br {
    display: none;
  }
  .info__nav {
    margin-bottom: 19px;
  }
  .info__nav img {
    width: 30px;
    height: 30px;
  }
  .info__nav-title {
    font-size: 14px;
    line-height: 26px;
  }
  .info__input {
    font-size: 14px;
    line-height: 26px;
    height: 39px;
    padding-left: 25px;
    margin-bottom: 5px;
  }
  .info__input-email {
    margin-bottom: 12px;
  }
  .info__input-label {
    padding: 0 5px;
    height: 42px;
    margin-right: 8px;
  }
  .info__input-label span {
    font-size: 16px;
    white-space: nowrap;
  }
  .info__input-label img {
    width: 21px;
    height: 19px;
  }
  .info__input-btn {
    font-size: 16px;
    height: 42px;
  }
  .info__text-hidden {
    padding: 57px 23px;
    padding-top: 122px;
  }
  .info__text-hidden span {
    font-size: 14px;
    line-height: 26px;
  }
  .info__text-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .info__hidden-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 101%;
    height: 105vh;
    border-radius: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 14000;
  }
  .question {
    margin: 0;
    margin-bottom: 63px;
  }
  .question__inner {
    padding: 0 8px;
  }
  .question__title {
    font-size: 24px;
    font-weight: 30px;
    text-align: center;
    margin-bottom: 47px;
  }
  .question__subtitle {
    font-size: 18px;
    line-height: 26px;
    white-space: nowrap;
    padding-left: 20px;
  }
  .question__text {
    font-size: 16px;
    font-weight: 22px;
  }
  .question__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 20px;
  }
  .question__item {
    height: 53px;
  }
  .question__btn {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    height: auto;
    margin-right: 10px;
  }
  .question__btn img {
    width: 40px;
    height: 40px;
  }
  .contact {
    margin-bottom: 64px;
    padding-bottom: 0;
  }
  .contact__title {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 33px;
  }
  .contact__form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__form-input {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .contact__form-area {
    font-size: 16px;
    margin-top: 1px;
  }
  .contact__checkbox {
    height: 26px;
    margin-right: 6px;
  }
  .contact__label {
    font-size: 14px;
    width: 100%;
    max-width: 150px;
    margin-right: 17px;
  }
  .contact__btn {
    font-size: 18px;
    line-height: 26px;
    max-width: 250px;
    height: 49px;
  }
  .contact__form-group-btn div {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer {
    padding-top: 22px;
  }
  .footer__inner {
    padding: 0 22px;
  }
  .footer__logo {
    margin-bottom: 50px;
  }
  .footer__logo img {
    max-width: 184px;
  }
  .footer__copy {
    font-size: 14px;
    line-height: 22px;
    padding-top: 22px;
    max-width: 138px;
  }
  .footer__nav {
    padding-top: 0;
  }
  .footer__wrap {
    padding-top: 0;
  }
  .footer__social {
    padding-top: 63px;
  }
  .footer__social a {
    margin-right: 16px;
  }
  .popup-promo {
    padding-left: 19px;
    padding-top: 63px;
    padding-right: 4px;
    width: 102%;
    height: 102vh;
  }
  .popup-promo__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 62px;
  }
  .popup-promo__wrap span {
    font-size: 34px;
    line-height: 48px;
  }
  .popup-promo__title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .popup-promo__subtitle {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 35px;
  }
  .popup-promo__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 46px;
  }
  .popup-promo__input {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 19px;
    max-width: 282px;
  }
  .popup-promo__btn {
    font-size: 20px;
    line-height: 26px;
    max-width: 232px;
  }
  .popup-promo__link {
    font-size: 18px;
  }
  .popup-promo__close {
    right: 0;
  }
  .popup-error br {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */